<h2>Playground</h2>

<p>Testing stuff!</p>

<% cool_list_test = ['one', 2, [3]]%>
<ul>
<% cool_list_test.each do |coolness| %>
    <li><%= coolness%></li>
<% end %>
</ul>

<br />
<p> A simple equation: <var>x</var> = <var>y</var> + 2 </p>